
@mixin title-bio {
    margin-left: 50px;
    text-align: left;
    color: white;
    padding-top: 60px;
}

div{
    #tituloBio{
    @include title-bio();
    font-size: 45px;
    margin-left: 80px;
    }

    #biografia{
    margin-left: 60px;
    width: 80%;
    text-align:left;
    }

    #imagenBio{
    width: 250px;
    margin-left:150px;
    margin-top: 30px;
    padding: 10px;
    &:hover{
        transform: scale(1.5, 1.5);
        }
    }
}

@media (max-width: 576px){
    #imagenBio{
        width: 400px;
    }
}