.tituloIntegrantes{
    color: rgb(255, 255, 255);
    margin-right: 400px;
    margin: 30px;
    padding: 50px;
    margin-top: 80px;
}

.los4{
    width: 100%;
    border-radius: 10px;
}

.nombresIntegrantes{
    width: 50%;
    margin: auto;
    text-align: center;
    padding: 15px;
}
