@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&family=Roboto:ital@0;1&display=swap');

*{
    margin:0;
    padding:0;
}

body{
    background-color: black;
}

p{
    padding: 40px;
    margin-right: 400px;
    margin-top: 60px;
    margin-left: 60px;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: 20px;
    text-align:left;
    line-height: 30px;
    letter-spacing: 5px;
    word-spacing: 10px;
    color: white;
}

.footer{
    font-size: 10px;
    color: white;
    text-align: center;
    padding-top: 150px;
    margin-bottom: 10px;
}

/* index.html */

.menu li{
    position: relative;
    display: inline-block;
    font-size: 20px;
    margin-top: -500px;
}

.submenu{
    display: none ;
    position: absolute;
    color: white;
    list-style: none;
    background-color: black;
}

.menu li:hover .submenu{
    display: block;
}

.logoIndex{
    width: 20%;
    margin-left: 40px;
    margin-right: 100px;
    background-color: black;
    margin-top: 30px;
}

.logo .p .a .img{
    width: 40%;
    height: 400%;
}

nav{
    width: 100%;
    background-color: black;
    display:flex;
    justify-content: center;
    padding-top: 10px;
    box-sizing: border-box;
}

nav ul li {
    display: inline;
}

nav ul li a{
    color: white;
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
}

nav ul li a:hover{
    color: rgb(0, 0, 0);
    background-color: white;
}

h1, p, a {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: blanchedalmond;
    text-align: center;
    margin-top: 100px;
}

#bienvenida{
    text-align: center;
    margin-top: 100px;
    padding: 50px;
    font-size: 45px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

.contenedorImg{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foto1Index{
    width: 80%;
    border-radius: 2px;
    margin-top: 100px;
}

@media (max-width: 576px){
    .foto1Index{
        width: 400px;
        margin-bottom: 20px;
    }

    #bienvenida{
        font-size: 30px;
        margin-bottom: 50px;
    }
}

/* integrantes.html */

.tituloIntegrantes{
    color: rgb(255, 255, 255);
    margin-right: 400px;
    margin: 30px;
    padding: 50px;
    margin-top: 80px;
}

.los4{
    width: 100%;
    border-radius: 10px;
}

.nombresIntegrantes{
    width: 50%;
    margin: auto;
    text-align: center;
    padding: 15px;
}

/* Discografia.html */

.fotoDisco{
    width: 400px;
    height: 500px;
    margin-left: 70px;
    margin-right: 70px;
    padding-top: 60px;
}

.discos{
    display: flex;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
    margin-top: 60px;

}


@media (max-width: 576px){
    .discos{
        flex-direction: column;
    }

    .fotoDisco{
        width: 350px;
    }

    .temas{ 
        margin-left: -70px;
    }
}

.temas{
    width: 100%;
}

.temas2{    
    width: 100%;
    margin-left: -70px;
}
/* biografia.html */

#tituloBio{
    margin-left: 50px;
    text-align: left;
    color: white;
    padding-top: 60px;
}

#biografia{
    margin-left: 10px;
    line-height: 50px;
    width: 80%;
}

#imagenBio{
    width: 850px;
    margin-left:300px;
}

@media (max-width: 576px){
    #imagenBio{
        width: 350px;
        margin: 100px;
    }

    #tituloBio{
        text-align: center;
    }

    
    
}

/* Contacto.html */

#contactoDatos{
    margin-left: 50px;
    width: 90%;
    margin: auto;
    
}

.contactoTexto{ 
    color: white;
    font-family: 'Poppins', sans-serif;
    margin-left: 50px;
}

.imgContacto{
    width: 700px;
    margin-left: 600px;
    margin-top: -300px;
    border-radius: 2px;
}

@media (max-width: 576px){
    
    .imgContacto{
        width: 350px;
        margin: 60px;
    }
    
}

/* imagenes.html */

.img{
    width: 300px;
    height: 300px;
    margin-left: 110px;
    margin-top: 100px;
}

.imagenesBanda{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: center;
    margin-top: 30px;
}

@media (max-width: 576px){
    .imagenesBanda{
        grid-template-columns: auto;
        margin: 2px;
    }
}